---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const writeups = await getCollection("writeups");
const sorted = writeups.sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<BaseLayout title="Blog">
    <main>
        <h1>writeups</h1>
        <ul>
            {
                sorted.map((entry) => (
                    <li>
                        <a href={`/blog/${entry.id}`}>{entry.data.title}</a>
                        <span>
                            {entry.data.date.toISOString().split("T")[0]}
                        </span>
                        <span>{entry.data.category}</span>
                        <span>{entry.data.difficulty}</span>
                    </li>
                ))
            }
        </ul>
    </main>
</BaseLayout>
